@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book
<div class="card">
    <div class="card-header">
        <!--here's one example of using bootstrap I've never used class font-italic-->
        <h3 class="font-italic" style="float:left">@Model.title </h3> <h3 style="float:left">&#160;&#160; by @Model.authorFirstName @Model.authorMiddleName @Model.authorLastName</h3> <h3 class="" style="float:right">$@Model.price</h3>
    </div>
    <div class="card-body" style="padding-bottom:0px;">
        <!--I've also never used card-text before-->
        <div class="card-text" style="padding-top:0px;">
            <p>

                ISBN: @Model.ISBN<br />
                Classification: @Model.classification <br />
                Category: @Model.category <br /> Pages: @Model.numPages
            </p>
        </div>
    </div>
    <form id="@Model.BookId" asp-page="/Buy" method="post">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text">
            @Model.title
            <button type="submit" class="btn-success" style="float:right;">Buy</button>
        </span>

    </form>
    <!--I've also never used card footer-->
    <div class="card-footer">
        <h6>Publisher: @Model.publisher</h6>
    </div>


   

</div>